<!DOCTYPE html>
<html>
  <head>
    <title>Portfolium</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
        <div>
          <div>
            <%= link_to 'HeflerDev', '#' %>
          </div>
          <div>
            <%= link_to 'Social', about_path %>
            <%= link_to 'Contact', contact_path %>
          </div>
        </div>
    </nav>
    <%= yield %>
    <footer>
      <%= link_to 'Back', root_path %>
    </footer>
  </body>
</html>
