<!DOCTYPE html>
<html>
  <head>
    <title>Portfolium</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='container-fluid'>
        <div class='row'>
          <div class="col-12 col-lg-6 d-flex justify-content-center text-center">
            <%= link_to 'HeflerDev', '#', class:'logo col-10' %>
          </div>
          <div class="col-12 col-lg-6 d-flex justify-content-around p-0">
            <%= link_to 'About Me', '#', class:'button col-6' %>
            <%= link_to 'Contact', '#', class:'button col-6' %>
          </div>
        </div>
    </nav>
    <%= yield %>
  </body>
</html>
